/* css de pagina principal */
body {
    margin-bottom: 1%;
    background-image: url('../img/fondo-web.jpeg');
}

#notification1 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgb(173, 0, 0);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    opacity: 0.9;
}

.pac-container {
    z-index: 10000 !important;  /* Bootstrap modals tienen z-index 1050 */
}

#notification2 {
    background-color: #cc0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 63%;
    text-align: center;
    display: none;
}

.hidden {
    display: none;
}

/* css de navbar */

#navbar {
    position: fixed;
    width: 100%;
    height: 60px;

}

.navbar-custom {
    background-color: #0c0c0c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 3px;
}

.navbar-custom .nav-link {
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.navbar-custom .nav-link:hover {
    color: #ff7300;
}

.nav-link i {
    color: white;
}

.nav-link:hover i {
    color: #ff7300;
}

.dropdown-menu {
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    background-color: #2e3136;
    border: none;
}

.dropdown-item {
    color: white;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #ff7300;
    color: black;
}

/* css de SignUp */

.signup-card {
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.registration-form {
    background-color: #ffffff;
    padding: 0.5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.createWarehouse-form {
    background-color: #ffffff;
    align-items: center;
}

.input-container {
    position: relative;
    margin-bottom: 1%;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-container input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #0a0a0a;
    font-size: 16px;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

input:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
}
.place-picker-container {
    border-radius: 5px;
}
.place-picker-container:focus-within gmpx-place-picker {
    background-color: #ff8000;
    border-radius: 5px;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
    top: -4px;
    font-size: 12px;
    color: #888;
    background-color: #fff;
    margin: 1%;
    padding: 0% 5% 0% 5%;
}

.input-container:has(input:focus) {
    border-color: #ff9900;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    width: 93%;
    background-color: white;
    display: none;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#id_address {
    position: relative;
}

.bi-eye {
    font-size: 1.5rem;
    cursor: pointer;
}

.bi-eye-slash {
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.5;
}

.btn-primary {
    background-color: #ff7300;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #ff8c2d;
    box-shadow: 0 0 10px rgba(255, 81, 0, 0.5);
}

.btn-primary:active {
    background-color: #ca5b00 !important;
    transform: scale(0.95);
}

.btn-primary:disabled,
.btn-primary[disabled] {
    background-color: #ff933b !important;
}

/* css de login */
.registration-form {
    margin-top: 8%;
}

.login-card {
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.linkA {
    color: #292929;
    text-decoration: none;
}

.linkA:hover {
    color: #ff7300;
    text-decoration: none;
}

.linkP {
    color: #585858;
    text-decoration: none;
}

.linkP:hover {
    color: #ff7300;
    text-decoration: none;
}



/* css index */
.banner {

    background-image: url('../img/banner.webp');
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    padding-top: 80px;

    /* filter: blur(0px); */

}


.contenedor-centro {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-decorativo {
    background-color: #ff7300;
    text-decoration: none;
    color: white; 
    border: none; 
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 127, 0, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}


.btn-decorativo:hover {
    background-color: #ff8000;
    box-shadow: 0 6px 12px rgba(255, 127, 0, 0.7);
}


#img-inicio {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#caracteristicas {
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caracteristicas h3 {
    margin: 10px 0;
    width: 80%;
    min-width: 400;
    text-align: center;
    padding: 10px;
    border: 2px solid #333;
    box-sizing: border-box;
    background-color: #df8841;
}


form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el footer */
footer {
    background-color: #33333300;
    color: rgb(0, 0, 0);
}

footer p {
    margin: 0;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* PARTE GESTOR ADMINISTRADOR */




/* Estilos para las tarjetas de almacenes */
.warehouse-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.warehouse-card:hover {
    transform: scale(1.05);
}

.warehouse-card h5 {
    color: #007bff;
    font-weight: bold;
}

.progress {
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar {
    background-color: #28a745;
}

/* Estilos para la tabla de Kardex */
.table {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

/* Estilos para el modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #ff4800;
    color: white;
    border-radius: 8px 8px 0 0;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    background-color: #f8f9fa;
}

/* css de login */
.login-card {
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.linkA {
    color: #292929;
    text-decoration: none;
}

.linkA:hover {
    color: #ff7300;
    text-decoration: none;
}

.linkP {
    color: #585858;
    text-decoration: none;
}

.linkP:hover {
    color: #ff7300;
    text-decoration: none;
}