{% load static %}

<nav id="navbar" class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{% static 'img/logoLetras.png' %}" alt="logo" width="170" height="auto" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-auto ms-auto">
        <li class="nav-item dropdown">
          {% if user.is_authenticated %}
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0%;"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></a>
            <ul class="dropdown-menu dropdown-menu-end text-center" style="padding: 0%; margin: 0%">
              <li style="padding-top: 15px"> 
                <span style="color: white;"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></span>
              </li>
              <li style="padding-bottom: 15px">
                <span style="color: white;">{{ user.username }}</span>
              </li>
              <li>
                <a style="padding: 10px" class="dropdown-item" href="">VER PERFIL</a>
              </li>
              <li>
                <hr style="margin: 0%" class="dropdown-divider" />
              </li>
              <li>
                <a style="padding: 13px" class="dropdown-item" href="{% url 'user:logout' %}">CERRAR SESIÓN</a>
              </li>
            </ul>
          {% else %}
            <a class="nav-link" href="{% url 'user:login' %}" style="padding: 0%;"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
